@using Microsoft.AspNetCore.Identity
@model IEnumerable<IdentityRole>
@{
    ViewData["Title"] = "User Roles";
}

<h1> View Roes</h1>
<p> <a asp-action="Create"> Create Role</a></p>

<table>

    <tr>
        <th>@Html.DisplayNameFor(model=>model.Id)</th>
        <th>@Html.DisplayNameFor(model=>model.Name)</th>
        <th></th>
    </tr>

    <tbody>
        @foreach (var item in Model)
        {

            <tr>
                <td> @Html.DisplayFor(modelItem=>item.Id)</td>
                <td> @Html.DisplayFor(modelItem=>item.Name)</td>
            </tr>
        }

    </tbody>
</table>