@model ItemLendSystemWithLogin.Models.Lend

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Lend</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Item" class="control-label"></label>
                <select asp-for="IID" class ="form-control" asp-items="ViewBag.IID"></select>
            </div>
            <div class="form-group">
                <label asp-for="Borrower" class="control-label"></label>
                <select asp-for="BID" class ="form-control" asp-items="ViewBag.BID"></select>
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LendingDate" class="control-label"></label>
                <input asp-for="LendingDate" class="form-control" />
                <span asp-validation-for="LendingDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LendingDays" class="control-label"></label>
                <input asp-for="LendingDays" class="form-control" />
                <span asp-validation-for="LendingDays" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Note" class="control-label"></label>
                <input asp-for="Note" class="form-control" />
                <span asp-validation-for="Note" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
