html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    background: radial-gradient(circle, rgba(238,181,174,1) 0%, rgba(148,233,221,0.9669117647058824) 100%);
    margin-bottom: 60px;
    font-family: 'Roboto',sans-serif;
}
#logo {
    height: 5rem;
    width: 30rem;
}